<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOzzF0AaWMl1NpeQ9vzkrxA9A7_gtDL6U</string>
	<key>GCM_SENDER_ID</key>
	<string>651240853510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lyapin.dev.FireStoreReferenceTest2309</string>
	<key>PROJECT_ID</key>
	<string>firestorereferencetest</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorereferencetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651240853510:ios:b25f1b9a727fd22c733387</string>
</dict>
</plist>